<h1 class="add-task">{{ data.title }} tarea</h1>
<div class="add-task-form" [formGroup]="formTask">
  <!-- name of task -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre de la tarea</mat-label>
    <input
      matInput
      placeholder="Ingrese nombre de la tarea"
      formControlName="name"
    />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error
      *ngIf="formTask.get('name')?.invalid && formTask.get('name')?.touched"
    >
      <span>{{ getMessageError(formTask, "name") }}</span>
    </mat-error>
  </mat-form-field>

  <!-- date of task -->
  <mat-form-field color="accent">
    <mat-label>Fecha límite de tarea</mat-label>
    <input
      matInput
      placeholder=""
      [matDatepicker]="picker1"
      formControlName="date"
      [min]="dateInit"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error
      *ngIf="formTask.get('name')?.invalid && formTask.get('name')?.touched"
    >
      <span>{{ getMessageError(formTask, "date") }}</span>
    </mat-error>
  </mat-form-field>

  <!-- array de personas -->
  <div formArrayName="persons" class="form-person">
    <div class="subtitle">
      <h3 class="text">Personas:</h3>
      <button mat-mini-fab (click)="addPerson()" class="button">
        <mat-icon class="icon" fontIcon="add" color="primary"></mat-icon>
      </button>
    </div>

    <div *ngFor="let personForm of person.controls; let i = index">
      <div class="person-form-row" [formGroupName]="i">
        <mat-divider class="divider"></mat-divider>
        <div class="person-delete">
          <span>Persona: {{ i + 1 }}</span>
          <button
            mat-mini-fab
            (click)="deletePerson(i)"
            class="button"
            *ngIf="person.controls.length > 1"
          >
            <mat-icon class="icon" fontIcon="delete" color="warn"></mat-icon>
          </button>
        </div>
        <!-- name of person -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Ingrese nombre de la persona"
            formControlName="name"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error
            *ngIf="person.controls[i].invalid && person.controls[i].touched"
          >
            <span>{{ getMessageError(person.controls[i], "name") }}</span>
          </mat-error>
        </mat-form-field>

        <!-- age of person -->
        <mat-form-field appearance="fill">
          <mat-label>Edad</mat-label>
          <input
            matInput
            placeholder="ingrese edad de la persona"
            formControlName="age"
            type="number"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error
            *ngIf="person.controls[i].invalid && person.controls[i].touched"
          >
            <span>{{ getMessageError(person.controls[i], "age") }}</span>
          </mat-error>
        </mat-form-field>

        <div class="subtitle">
          <h3 class="text">Habilidades:</h3>
          <button mat-mini-fab (click)="addSkill(i)" class="button">
            <mat-icon class="icon" fontIcon="add" color="primary"></mat-icon>
          </button>
        </div>
        <!-- array de skills -->
        <div formArrayName="skills">
          <div *ngFor="let skillForm of personSkill(i).controls; let y = index">
            <span>Habilida: {{ y + 1 }}</span>
            <div [formGroupName]="y">
              <div class="skill">
                <!-- name of skill -->
                <div class="text">
                  <mat-form-field appearance="fill">
                    <mat-label>Habilidad</mat-label>
                    <input
                      matInput
                      placeholder="Ingrese habilidad"
                      formControlName="name"
                    />
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error
                      *ngIf="
                        personSkill(i).controls[y].invalid &&
                        personSkill(i).controls[y].touched
                      "
                    >
                      <span>{{
                        getMessageError(personSkill(i).controls[y], "name")
                      }}</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- button delete skills-->
                <button
                  mat-icon-button
                  (click)="deleteSkill(i, y)"
                  class="button"
                  *ngIf="personSkill(i).controls.length > 1"
                >
                  <mat-icon
                    class="icon"
                    fontIcon="delete"
                    color="warn"
                  ></mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="addTask()">
      Guardar tarea
    </button>
    <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  </div>
</div>
