<div class="content">
  <h1>Lista de tareas</h1>
  <div class="actions">
    <div>
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          name="food"
          (selectionChange)="filter($event.value)"
        >
          <mat-option *ngFor="let item of listFilter" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="addTask()">
        Nueva tarea
      </button>
    </div>
  </div>
  <div class="content-list">
    <div *ngFor="let task of tasksFilter" class="list">
      <mat-card class="card">
        <mat-card-content class="card-content">
          <div class="task">
            <div class="body-task">
              <div class="title">
                <div class="text">{{ task.name }}</div>
                <div class="date-content">
                  <div class="date">{{ task.date | date : "mediumDate" }}</div>
                </div>
              </div>
              <div>
                <strong class="asociadas">Personas asociadas:</strong>
                <div class="persons">
                  <div *ngFor="let person of task.persons">
                    <div class="person">
                      <li class="name">
                        {{ person.name | titlecase }} ({{ person.age }} Años)
                      </li>
                    </div>
                    <div class="skills">
                      habilidades:
                      <div *ngFor="let skill of person.skills">
                        {{ skill.name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions">
              <mat-checkbox
                class="example-margin"
                [checked]="task.completed"
                (change)="completeTask(task)"
                [disabled]="task.completed"
              ></mat-checkbox>

              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon"
                (click)="editTask(task)"
              >
                <mat-icon fontIcon="edit"></mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
